#map1,
#map,
#coastalMap,
#coastalMapDiv,
#migratoryMap,
#migratoryMapDiv,
#forestMap,
#forestMapDiv,
#midCanopyMap,
#midCanopyMapDiv,
#getthere,
#getthereMapDiv,
#hungry,
#hungryMapDiv {
    width: 100%;
    height: 70%;
}


#migratoryMapViewDiv,
#migratoryMapView,
#coastalMapView,
#coastalMapViewDiv
/*#forestMapView,
#forestMapViewDiv*/
{
  width:100%;
  height:20%;
}

#coastalpano,
#migratorypano
/*#forestpano,
#canopypano*/
{
  width:100%;
  height:70%;
}
p{
	font-size: 13px;
}

img{
    width:100%;
    height:20%;
}

.ui-fixed-hidden{
    position: fixed;
}
